name: CI Pipeline.

on:
  pull_request:
  push:
    branches:
      - master
      - main
    paths-ignore:
      - '*.md'
      - 'LICENSE'
      - 'monitoring/grafana-dashboard.json'
      - 'screenshots/**'
    tags-ignore:
      - '*'
  pull_request:
    paths-ignore:
      - '*.md'
      - 'LICENSE'
      - 'data/static/i18n/*.json'
      - 'frontend/src/assets/i18n/*.json'

env:
  APP_NAME: my-node-appola
  APP_VERSION: latest

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    
    strategy:
      matrix:
        node-version: [22]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'yarn'
          
      - name: Install Yarn Classic
        run: npm install -g yarn@1


      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Run tests
        run: yarn test

        

      - name: Gitleaks
  # You may pin to the exact commit or the version.
  # uses: gitleaks/gitleaks-action@e6dab246340401bf53eec993b8f05aebe80ac636
        uses: gitleaks/gitleaks-action@v2.3.4
          

          

#      - name: Log in to Docker Hub
#        uses: docker/login-action@v3
#        with:
#          username: ${{ secrets.DOCKERHUB_USERNAME }}
#          password: ${{ secrets.DOCKERHUB_TOKEN }}

#      - name: Build Docker image
#        run: docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/$APP_NAME:$APP_VERSION .

#      - name: Push Docker image
#       #run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/my-node-appola:latest
#        run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/$APP_NAME:$APP_VERSION

