name: CI Pipeline.

on:
  push:
    branches:
      - master
      - main
    paths-ignore:
      - '*.md'
      - 'LICENSE'
      - 'monitoring/grafana-dashboard.json'
      - 'screenshots/**'
    tags-ignore:
      - '*'
  pull_request:
    paths-ignore:
      - '*.md'
      - 'LICENSE'
      - 'data/static/i18n/*.json'
      - 'frontend/src/assets/i18n/*.json'

env:
  APP_NAME: my-node-appola
  APP_VERSION: latest

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    
    strategy:
      matrix:
        node-version: [22]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'yarn'
          
      - name: Install Yarn Classic
        run: npm install -g yarn@1


      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Run tests
        run: yarn test
        

      # Install Gitleaks (keeps your continue-on-error)
      - name: Install Gitleaks
        uses: gitleaks/gitleaks-action@v2
        continue-on-error: true
        with:
          args: version

      # Run Gitleaks manually to produce JSON
      - name: Run Gitleaks (JSON output)
        run: |
          gitleaks detect \
          --source . \
          --report-format json \
          --report-path gitleaks.json || true

      # Upload JSON report as artifact
      - name: Upload Gitleaks JSON report
        uses: actions/upload-artifact@v4
        with:
          name: gitleaks-report
          path: gitleaks.json


      # SEMGREP SCAN
      - name: Run Semgrep (Full Security Ruleset)
        uses: returntocorp/semgrep-action@v1
        with:
          config: "p/ci"
          generateSarif: "true"
        continue-on-error: true

      - name: Upload Semgrep SARIF report
        uses: actions/upload-artifact@v4
        with:
          name: semgrep-report
          path: semgrep.sarif
