name: CI Pipeline.

on:
  push:
    branches:
      - master
      - main
    paths-ignore:
      - '*.md'
      - 'LICENSE'
      - 'monitoring/grafana-dashboard.json'
      - 'screenshots/**'
    tags-ignore:
      - '*'
  pull_request:
    paths-ignore:
      - '*.md'
      - 'LICENSE'
      - 'data/static/i18n/*.json'
      - 'frontend/src/assets/i18n/*.json'

env:
  APP_NAME: my-node-appola
  APP_VERSION: latest

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    
    strategy:
      matrix:
        node-version: [22]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'yarn'
          
      - name: Install Yarn Classic
        run: npm install -g yarn@1


      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Run tests
        run: yarn test

      - uses: actions/setup-python@v5.3.0
        with:
         python-version: '3.12'
      - name: nodejsscan scan
        id: njsscan
        uses: ajinabraham/njsscan-action@master
        with:
         args: '.'
      - name: Semgrep x semgrep-rules-manager
        uses: iosifache/semgrep-rules-manager@release
        

#      - uses: gitleaks/gitleaks-action@v2
#        env:
#          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#        with:
#          args: detect --source="." --verbose --no-fail

        

    

#      - name: Log in to Docker Hub
#        uses: docker/login-action@v3
#        with:
#          username: ${{ secrets.DOCKERHUB_USERNAME }}
#          password: ${{ secrets.DOCKERHUB_TOKEN }}

#      - name: Build Docker image
#        run: docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/$APP_NAME:$APP_VERSION .

#      - name: Push Docker image
#       #run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/my-node-appola:latest
#        run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/$APP_NAME:$APP_VERSION

