name: Gitleaks Scan

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  scan:
    runs-on: ubuntu-latest

    steps:
      # Checkout YOUR repository (Ooladipupo/OWASP-juice-shop)
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0   # ensures .git folder is included

      # Run Gitleaks inside the repo directory
      - name: Run Gitleaks
        uses: gitleaks/gitleaks-action@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          args: detect --source="." --verbose
